<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthBnb Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .carta_margin {
            margin: 10px;
            max-width: 295px;
            height: 445px;
        }

        .para_img {
            margin-top: 10px;
        }

        .para_nav {
            z-index: 1000;
            background-color: rgb(241 245 249);
            max-height: 160px;
        }
    </style>
</head>

<body>
    <header>
        <nav style="z-index: 1200;"
            class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="home_loggeado.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="earthbnb.png" class="h-10" alt="Flowbite Logo">
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <!-- Modal toggle -->
                    <button id="dropdownUserAvatarButton" class="btn btn-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-globe fa-xl" style="color: #000000;"></i>
                    </button>
                    
                    
                    <!-- Dropdown menu -->
                    <div id="dropdownAvatar" class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownUserAvatarButton">
                        
                        <ul class="px-1 text-sm" aria-labelledby="dropdownUserAvatarButton">
                            <li>
                                <a href="my_reservations.html"
                                class="dropdown-item text-sm hover-bg-gray-100 dark-hover-bg-gray-600 dark-text-gray-200 dark-hover-text-white">My
                                    Reservations</a>
                            </li>
                            <li>
                                <a href="perfil.html"
                                class="dropdown-item text-sm hover-bg-gray-100 dark-hover-bg-gray-600 dark-text-gray-200 dark-hover-text-white">Account</a>
                            </li>
                            <li>
                                <a href="home_host.html"
                                class="dropdown-item text-sm hover-bg-gray-100 dark-hover-bg-gray-600 dark-text-gray-200 dark-hover-text-white">Change
                                    to Host</a>
                            </li>
                        </ul>
                        <div class="py-0 px-1">
                            <a href="home.html"
                                class="dropdown-item text-sm hover-bg-gray-100 dark-hover-bg-gray-600 dark-text-gray-200 dark-hover-text-white">Sign
                                out</a>
                        </div>
                    </div>
                    
                

                    <a class="nav-link active text-dark" role="button" data-bs-toggle="modal"
                        data-bs-target="#modal_Login" href="#modal_Login" aria-current="page"></a>
                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <form>
                        <div class="flex">
                            <button id="dropdown-button" data-dropdown-toggle="dropdown"
                                class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                                type="button">Estados<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg></button>
                            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdown-button">
                                    <li>
                                        <button type="button"
                                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                            onclick="cambiarTexto('Jalisco')">Jalisco</button>
                                    </li>
                                    <li>
                                        <button type="button"
                                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                            onclick="cambiarTexto('Nuevo León')">Nuevo León</button>
                                    </li>
                                    <li>
                                        <button type="button"
                                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                            onclick="cambiarTexto('Baja California Sur')">Baja&nbsp;California&nbsp;Sur</button>
                                    </li>
                                    <li>
                                        <button type="button"
                                            class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                            onclick="cambiarTexto('Estados')">Estados</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="relative w-full">
                                <input type="search" id="search-dropdown" style="width: 350px"
                                    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                    placeholder="Search">
                                <button type="button" onclick="capturarSearchInput()"
                                    class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                    <span class="sr-only">Search</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="items-center inline-flex" style="padding-right: 20px; max-height: 55px;" role="group">
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium"
                    style="margin-left: 20px;" category="Playa" onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-umbrella-beach fa-sm" style="color: #000000;"></i>
                    &nbsp;Playa
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Ciudad"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-city fa-sm" style="color: #000000;"></i>
                    &nbsp;Ciudad
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Lago"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-water fa-sm" style="color: #000000;"></i>
                    &nbsp;Lago
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Tropical"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-martini-glass-citrus fa-sm" style="color: #000000;"></i>
                    &nbsp;Tropical&nbsp;&nbsp;
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium"
                    category="Casa de campo" onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-tree fa-sm" style="color: #000000;"></i>
                    &nbsp;Casa&nbsp;de&nbsp;campo
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Camping"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-campground fa-sm" style="color: #000000;"></i>
                    &nbsp;Camping
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Barcos"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-ship fa-sm" style="color: #000000;"></i>
                    &nbsp;&nbsp;Barcos&nbsp;&nbsp;
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Deluxe"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-champagne-glasses fa-sm" style="color: #000000;"></i>
                    &nbsp;Deluxe
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Rancho"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-cow fa-sm" style="color: #000000;"></i>
                    &nbsp;Rancho
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Alberca"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-water-ladder fa-sm" style="color: #000000;"></i>
                    &nbsp;Alberca
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Montaña"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-mountain-sun fa-sm" style="color: #000000;"></i>
                    &nbsp;Montaña
                </button>
                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium" category="Popular"
                    onclick="toggleFiltro(this)">
                    <i class="fa-solid fa-fire fa-sm" style="color: #000000;"></i>
                    &nbsp;Populares
                </button>
            </div>
        </nav>
    </header>



    <main style="background-color: rgb(241 245 249);">
        <div id="inicio-body" style="margin-top: 120px; padding: 10px;">


        </div>
    </main>

    <footer class="rounded-lg shadow m-4 dark:bg-gray-800" style="background-color: rgb(241 245 249);">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#"
                    class="hover:underline">EarthBnB™</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="https://www.airbnb.mx/about/company-details" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="https://www.airbnb.mx/help/article/2855" class="hover:underline me-4 md:me-6">Privacy
                        Policy</a>
                </li>
                <li>
                    <a href="https://www.airbnb.mx/help/article/2855" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="https://www.airbnb.mx/help/?audience=guest" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/8627f7a409.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
    <script src="../scripts/filtros.js"></script>
    
    <script src="../scripts/homeUser.js"></script>
    
</body>

</html>