<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthBnb Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <style>
        .carta_margin {
            margin: 10px;
            width: 290px;
            height: 420px;
        }
        .para_nav {
            z-index: 1000;
            background-color: white;
        }
        .para_gallery {
            margin-left: 100px;
            margin-right: 100px;
        }
        .para_titulo {
            margin-left: 120px;
            margin-right: 120px;
            font-size:xx-large;
        }
        .para_carta_grande {
            min-width: 525px;
            max-width: 525px;
            min-height: 310px;
            max-height: 310px;
            margin-bottom: 10px;
        }
        .para_carta_pequeña {
            min-width: 260px;
            max-width: 260px;
            min-height: 150px;
            max-height: 150px;
            margin-bottom: 10px;
        }
        .grid-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 3 columnas */
          gap: 10px;  /* Espacio entre las celdas */
        }
        .para_fecha {
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
        }
        .para_imagen {
            margin-top: 45px;
            margin-left: 35px;
        }
    </style>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <header>
        <nav style="z-index: 1200;" class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="home_loggeado.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="earthbnb.png" class="h-10" alt="EarthBnB™ Logo">
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <!-- Modal toggle -->
        <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button" style="background: none;">
            <i class="fa-solid fa-globe fa-xl" style="color: #000000;"></i>
        </button>
            <!-- Dropdown menu -->
            <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div>Miguel Torres</div>
                  <div class="font-medium truncate">maigol@gmail.com</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
                  <li>
                    <a href="my_reservations.html" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Reservations</a>
                  </li>
                  <li>
                    <a href="perfil.html" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Account</a>
                  </li>
                  <li>
                    <a href="home_host.html" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Change to Host</a>
                  </li>
                </ul>
                <div class="py-2">
                  <a href="home.html" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </div>
            </div>

                <a class="nav-link active text-dark" role="button" data-bs-toggle="modal" data-bs-target="#modal_Login" href="#modal_Login" aria-current="page"></a>
                    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <form>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="inicio-body" style="margin-top: 75px; padding: 10px;">
            <diV class="border border-gray-200 shadow para_gallery rounded-lg">
                <div>
                    <div style="border-bottom: 1px solid gray;">
                        <p style="margin-left: 35px; margin-top: 5px; margin-bottom: 5px; font-size: large;"><b>15 de noviembre</b></p>
                    </div>
                    <div class="flex para_imagen justify-between">
                        <div class="flex">
                            <img class="rounded-lg" src="https://images.adsttc.com/media/images/5a58/a650/f197/cc1f/8600/0173/newsletter/S3_CDS--5.jpg?1515759173" style="height: 150px; width: 200px;">
                            <div style="margin-left: 30px; color: gray;">
                                <p style="color: green;"><b>En curso</b></p>
                                <br>
                                <p style="color: #000000;"><b>Alojamiento en la playa para una familia, en Puerto Vallarta</b></p>
                                <p>3 noches</p>
                                <p>1 huesped</p>
                                <p>Total: $5,650 MXN</p>
                            </div>
                        </div>
                        <div style="margin-right: 30px; margin-top: 15px;">
                            <a  href="Pagina_reservando.html" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Detalles&nbsp;</a><br>
                            <button class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <div class="para_fecha">
                        <p>13 de noviembre</p>
                    </div>
                    <div>
                        <p>Hola, prueba</p>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <div class="para_fecha">
                        <p>12 de noviembre</p>
                    </div>
                    <div>
                        <p>Hola, prueba</p>
                    </div>
                </div>
            </diV>
            
        </div>
    </main>
    
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">EarthBnB™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
<script src="https://kit.fontawesome.com/8627f7a409.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
</body>

</html>