<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      margin-left: auto;
      /* Otros estilos del botón */
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <p>hola <a href="#"><button>hd</button></a></p>
</body>
</html>
